{relx,
 [{release, {srpc_srv, vsn}},
  {include_erts, false},
  {include_src,  false},
  {extended_start_script, false}
 ]}.

{deps, []}.

{profiles,
 [{dev, 
   [{relx, 
     [{dev_mode, true}
     ]}
   ]},
  {prod,
   [{relx, 
     [{dev_mode, false}
     ]},
    {erl_opts, [no_debug_info, warnings_as_errors]}
   ]}
 ]}.
