{erl_opts,
 [debug_info]}.
{deps, 
 [{srpcryptor_lib, {git, "git@github.com:knoxen/SRPCrypto-Lib-Erlang.git", {branch, "master"}}}
 ]}.
{relx, [{release
        ,{srpcryptor_pro, "0.9.0"}
        ,[srpcryptor_pro]
        }
       ,{dev_mode,              true}
       ,{include_erts,          false}
       ,{extended_start_script, false}
       ]
}.
