{erl_opts,
 []}.
{deps, 
 [{srpc_lib, {git, "git@bitbucket.org:knoxen/srpc-lib-erlang.git", {branch, "master"}}}
 ]}.
{relx, 
 [{release
  ,{srpc_http, "0.9.1"}
  ,[srpc_http]
  }
 ,{dev_mode,              false}
 ,{include_erts,          false}
 ,{include_src,           false}
 ,{extended_start_script, false}
 ]
}.
{profiles,
 [{prod,
   [{relx,
     [{dev_mode,              false}
     ,{include_src,           false}
     ,{include_erts,          false}
     ,{extended_start_script, false}
     ]}]
  }]
}.
